# Byte-code / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
.venv/
env/
venv/

# Test / coverage
.pytest_cache/
.coverage
coverage.*
htmlcov/

# Pyproject
.eggs/
*.egg-info/

# IDE / Editor
.idea/
.vscode/

# Build artefacts
dist/
build/

# Docs
site/

# AI Chat
.ai-chat/

# Listing Generator
.lg-cache/
